/* Misc universal */
body {
  margin: 0;
  font-family: sans-serif
}
.containment {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden
}

/* Animated Pages */
.top, .left, .bottom, .right {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition-duration: .2s;
  transition-delay: .2s;
  /* overflow-y: scroll */
}
.top.go, .left.go, .bottom.go, .right.go {
  z-index: 1;
  /* transition-duration: .2s; */
  transition-delay: 0s
}
.top {
  top: calc(-100%);
  left: 0;
  transition-property: top;
  background-color: #30323D;
}

.top .panel {
	background-image:url("images/Desktop/images/backgroundtext/grey_backgroundtext_2x.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center center;
	padding:50px 0!important;
}

.top .container .row.LogoSection{
	margin-top:5%!important;
}

.top .container .row.MidHalf{
	margin:12% 0!important;
}

.top h1{
  color: #E8C547;
  font-family: Baskerville;
  font-size: 144px;
  line-height: 120px;
  text-align: center;
}

.top h2{
  color: #E8C547;
  font-family: Baskerville;
  font-size: 100px;
  line-height: 120px;
}

.top .QuoteText h3{
	color: #E8C547;
	font-family: Baskerville;
	font-size: 60px;
	line-height: 60px;
	text-align: center;
}

.top p.in-financial-markets{
	opacity: 0.9;
	color: #F2F2F2;
	font-family: europa;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	text-align: center;
}

.top p.when-brian-foley-cre {
	opacity: 0.9;
	color: #F2F2F2;
	font-family: europa;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
}

.top .btn.btn-outline-primary {
	box-sizing: border-box!important;
	border: 1px solid #E8C547!important;
	border-radius: 4px!important;
	color:#E8C547!important;
}

.top .btn.btn-outline-primary:hover {
	box-sizing: border-box!important;
	border: 1px solid #E8C547!important;
	border-radius: 4px!important;
	color:#30323d!important;
	background:#E8C547!important;
}

.top .QuoteText p{
	opacity: 0.9;
	color: #F2F2F2;
	font-family: europa;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	text-align: center;
}

.top .QuoteText h3{
	background-image:url('images/Desktop/logos_icons/quotation-marks/desktop-quotemarks-grey.png');
	background-repeat: no-repeat;
    background-size: 880px 400px;
	padding:50px 0px;
	}
	
	
.top.go {
  top: 0;
}
.left {
  top: 0;
  left: calc(-100vw);
  transition-property: left;
  background-color: #3B9BAC;
}



.left .panel {
	background-image:url("images/Desktop/images/backgroundtext/blue_backgroundtext_2x.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center center;
	padding:100px 0!important;
}

.left .container .row.LogoSection{
	
	margin-top:5%!important;
}

.left .container .row.MidHalf{
	margin:12% 0!important;
}

.left h1{
  color: #F2F2F2;
  font-family: Baskerville;
  font-size: 144px;
  line-height: 120px;
  text-align: center;
}

.left h2{
  color: #F2F2F2;
  font-family: Baskerville;
  font-size: 100px;
  line-height: 120px;
}

.left .QuoteText h3, .left .MidHalf h3{
	color: #F2F2F2;
	font-family: Baskerville;
	font-size: 60px;
	line-height: 60px;
}

.left p.in-financial-markets{
	opacity: 0.9;
	color: #F2F2F2;
	font-family: europa;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	text-align: center;
}

.left p.when-brian-foley-cre {
	opacity: 0.9;
	color: #F2F2F2;
	font-family: europa;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
}

.left .btn.btn-outline-primary {
	box-sizing: border-box!important;
	border: 1px solid #E8C547!important;
	border-radius: 4px!important;
	color:#E8C547!important;
}

.left .QuoteText p, .left .MidHalf p{
	opacity: 0.9;
	color: #F2F2F2;
	font-family: europa;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	margin-top:20px;
}

.left .QuoteText h3{
	background-image:url('images/Desktop/logos_icons/quotation-marks/desktop-quotemarks-blue.png');
	background-repeat: no-repeat;
    background-size: 850px 400px;
	padding:80px 0;
	}

	
	
	
.left.go {
  left: 0;
}
.bottom {
  top: calc(100%);
  left: 0;
  transition-property: top;
  background-color: #ffffff
}


.bottom .panel {
	background-image:url("images/Desktop/images/backgroundtext/white_backgroundtext_2x.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center center;
	padding:100px 0!important;
}

.bottom .container .row.LogoSection{
	margin-top:5%!important;
}

.bottom .container .row.MidHalf{
	margin:18% 0!important;
}

.bottom h1{
  color: #30323D;
  font-family: Baskerville;
  font-size: 144px;
  line-height: 120px;
  text-align: center;
}

.bottom h2{
  color: #E8C547;
  font-family: Baskerville;
  font-size: 100px;
  line-height: 120px;
}

.bottom .QuoteText h3, .bottom .MidHalf h3{
	color: #E8C547;
	font-family: Baskerville;
	font-size: 60px;
	line-height: 60px;
}

.bottom p.in-financial-markets{
	opacity: 0.9;
	color: #30323D;
	font-family: europa;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	text-align: center;
}

.bottom p.when-brian-foley-cre {
	opacity: 0.9;
	color: #30323D;
	font-family: europa;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
}

.bottom .btn.btn-outline-primary {
	box-sizing: border-box!important;
	border: 1px solid #E8C547!important;
	border-radius: 4px!important;
	color:#30323D!important;
	font-family: Baskerville;
}

.bottom .btn.btn-outline-primary {
	box-sizing: border-box!important;
	border: 1px solid #E8C547!important;
	border-radius: 4px!important;
	color:#30323D!important;
	background:transparent!important;
	font-family: Baskerville;
}

.bottom .QuoteText p, .bottom .MidHalf p{
	opacity: 0.9;
	color: #30323D;
	font-family: europa;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	margin-top:20px;
}

.bottom .PointsCol{
	border-right:none!important;
	padding-right:10px!important;
}

.bottom .PointsCol p.in-financial-markets{
	opacity: 0.9;
	color: #30323D;
	font-family: europa;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	text-align: left;
}

.bottom span.ColHead{
  color: #E8C547;
  font-family: Baskerville;
  font-size: 45px;
  line-height: 60px;
  text-align:left;
}

.bottom .QuoteText h3{
	background-image:url('images/Desktop/logos_icons/quotation-marks/desktop-quotemarks-blue.png');
	background-repeat: no-repeat;
    background-size: 850px 400px;
	padding:80px 0;
	}
	
.bottom input{
		border: 1px solid #30323D;
		border-radius: 2px;
		background-color: #FFFFFF;
		color: #666666;
		font-family: Baskerville;
		font-size: 18px;
		line-height: 18px;
}

.EducationHighlights{
	margin-top:20px!important;
	opacity: 0.9;
	color: #30323D;
	font-family: europa;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	text-align: left;
}

.c-linkedin {	
	height: 30px;	
	width: 30px;
	margin-top:20px;
	background: url("images/Desktop/logos_icons/contact%20info/desktop_linked-in_grey.svg") no-repeat;
    display: inline-block;
}

.c-linkedin:hover {	
	background: url("images/Desktop/logos_icons/contact%20info/desktop_linked-in_gold.svg") no-repeat;
}

img.ContactIcon{
	height:25px!important;
	width:25px!important;
	margin-right:15px!important;
}




.bottom.go {
  top: 0;
}
.right {
  top: 0;
  left: calc(100vw);
  transition-property: left;
  background-color: #E8C547
}




.right .panel {
	background-image:url("images/Desktop/images/backgroundtext/gold_backgroundtext_2x.png");
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: center center;
	padding:50px 0!important;
}

.right .container .row.LogoSection{
	
	margin-top:5%!important;
}

.right .container .row.MidHalf{
	margin:12% 0!important;
}

.right h1{
  color: #30323D;
  font-family: Baskerville;
  font-size: 144px;
  line-height: 120px;
  margin-top:50px;
  text-align: center;
}

.right h2{
  color: #30323D;
  font-family: Baskerville;
  font-size: 100px;
  line-height: 120px;
}

.right span.ColHead{
  color: #30323D;
  font-family: Baskerville;
  font-size: 64px;
  line-height: 120px;
  text-align:center;
}


.right .QuoteText h3, .right .MidHalf h3{
	color: #30323D;
	font-family: Baskerville;
	font-size: 60px;
	line-height: 60px;
}

.right .BottomHalf h3{
  color: #30323D;
  font-family: Baskerville;
  font-size: 64px;
  line-height: 120px;
}

.right .PointsCol{
	border-right:1px solid #000!important;
	padding-right:10px!important;
}

.right .PointsCol:last-child{
	border-right:none!important;
	padding-right:10px!important;
}

.right .btn.btn-outline-primary.btn-block {
	box-sizing: border-box!important;
	border: 1px solid #000!important;
	border-radius: 4px!important;
	color:#30323D!important;
	margin-top:20px!important;
}

.right .btn.btn-outline-primary.btn-block:hover {
	box-sizing: border-box!important;
	border: 1px solid #000!important;
	border-radius: 4px!important;
	color:#E8C547!important;
	background:#30323d!important;
	margin-top:20px!important;
}

.right p.in-financial-markets{
	opacity: 0.9;
	color: #4D5061;
	font-family: europa;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	text-align: center;
}

.right p.when-brian-foley-cre {
	opacity: 0.9;
	color: #4D5061;
	font-family: europa;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
}

.right .btn.btn-outline-primary {
	box-sizing: border-box!important;
	border: 1px solid #E8C547!important;
	border-radius: 4px!important;
	color:#E8C547!important;
}

.right .QuoteText p, .right .MidHalf p{
	opacity: 0.9;
	color: #4D5061;
	font-family: europa;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	margin-top:20px;
}

.right .QuoteText h3{
	background-image:url('images/Desktop/logos_icons/quotation-marks/desktop-quotemarks-yellow.png');
	background-repeat: no-repeat;
    background-size: 900px 460px;
	padding:50px 0;
	}





	
.right.go {
  left: 0;
}

/* Edge Menu */
#top-go, #left-go, #right-go, #bottom-go {
  cursor: pointer;
  text-align: center;
  z-index: 3;
	position: fixed;
	font-family: Baskerville, sans-serif;
	font-size: 20px;
	color: #E8C547
}
#top-go:hover, #left-go:hover, #right-go:hover, #bottom-go:hover {
	z-index: 4
}
#left-go > div, #right-go > div, #bottom-go > div {
	line-height: 80px;
	letter-spacing: 4px;
	opacity: .9
}
#top-go {
	/* height: 80px; */
	height: 146px;
	padding-top: 28px;
	padding-bottom: 28px;
  top: 0;
  left: 0;
	width: 100%;
	background-image: url('images/Desktop/logos_icons/logo-files/desktop_logo-gold.svg');
	background-repeat: no-repeat;
	background-size: auto 90px;
	background-position: center center
}
.left.go ~ #top-go {
	background-image: url('images/Desktop/logos_icons/logo-files/desktop_logo-white.svg');
}
.left.go ~ #left-go, .left.go ~ #right-go, .left.go ~ #bottom-go {
	color: #FFFFFF
}
.right.go ~ #top-go {
	background-image: url('images/Desktop/logos_icons/logo-files/desktop_logo-grey.svg');
}
.right.go ~ #left-go, .right.go ~ #right-go, .right.go ~ #bottom-go {
	color: #30323D
}
.bottom.go ~ #left-go, .bottom.go ~ #right-go, .bottom.go ~ #bottom-go {
	color: #E8C547
}

#top-go:hover {
	background-color: #30323D;
  background-image: url('images/Desktop/logos_icons/logo-files/desktop_logo-gold.svg') !important;
}
#left-go {
  width: 80px;
  left: 0;
  top: 0;
  height: 100%;
}
#left-go > div {
  transform: rotate(-90deg);
  width: 200px;
  padding-bottom: 120px;
  position: absolute;
  top: calc(50% - 100px)
}
#left-go:hover {
	background-color: #3B9BAC;
	color: #FFFFFF !important
}
#bottom-go {
  height: 80px;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 0px solid #EA0029
}
#bottom-go > div {
}
#bottom-go:hover {
	background-color: #FFFFFF;
	color: #E8C547 !important
}
#right-go {
  width: 80px;
  right: 0;
  top: 0;
  height: 100%;
}
#right-go > div {
  transform: rotate(-90deg);
  width: 212px;
  padding-bottom: 132px;
  position: absolute;
  top: calc(50% - 100px)
}
#right-go:hover {
	background-color: #E8C547;
	color: #30323D !important
}

/* Inner Page */
.panel {
  position: fixed;
  width: calc(100% - 160px);
  height: calc(100% - 160px);
  margin: 80px;
}
.panel .fixed-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  position: relative;
	width: calc(100% - 160px);
	/* margin: 80px; */
	/* height: calc(100% - 160px); */
	margin-top: 146px;
	margin-left: 80px;
	margin-bottom: 80px;
	margin-right: 80px;
	height: calc(100% - (80px + 146px));
  overflow-y: scroll
}

/* Ball Drop Animation */
.animation-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden
}
.semi-containment {
	position: relative;
	width: 100%;
	height: 800px;
	overflow: hidden
}

.text-dark {color: black}
.text-light {color: white}
.text-mid {color: #30323d}

.ball {position: absolute; top: -40px; border-radius: 50%}
.blue {background-color: #e8c547; animation-duration: 2s; animation-timing-function: ease-in;}
.red {background-color: #30323d; transform: translateY(-50%); animation-duration: 2s, 1s, 2s; animation-timing-function: ease-in-out}
@keyframes blue-drop {
	0% {top: 0}
	50% {background-color: white}
	100% {top: calc(100% - 40px); background-color: #e8c547}
}
@keyframes red-drop {
	0% {top: 0; background-color: #e8c547}
	100% {top: 50%; background-color: #30323d;}
}
@keyframes red-slide {
	0% {top: 50%}
	100% {top: 50%; left: 44%}
}
@keyframes red-exist {
	0%, 100% {top: 50%; left: 44%}
}
.ball.blue.drop {animation-name: blue-drop;}
.ball.red.drop {animation-name: red-drop, red-slide, red-exist; animation-iteration-count: 1, 1, infinite}
.ball.slide {top: 50%}

.ghost-text {position: absolute; top: 0; left: 0; transition-delay: 0s; transition-duration: .2s; transition-property: opacity; opacity: 0; font-size: 60px; font-family: serif; text-align: center; width: 100%; height: 100%}
.ghost-text.summon {opacity: 1}

/* .slide-text > div {position: absolute; transition: left 1.5s, color 1.5s 3.5s; left: -282px}
.slide-text.go > div {left: 50%; color: #e8c547 !important} */
.slide-text > div {position: absolute; transition: left 1.5s, opacity 1.5s 3.5s; left: -312px; opacity: 1; white-space: nowrap}
.slide-text.go > div {left: 50%; opacity: 0}
.ghost-text > div {position: absolute; z-index: 1; /*font-family: Baskerville, serif*/}
#text1 {top: 50%; font-size: 160px; transform: translate(-50%, -88%)}
#text2 {top: 50%; font-size: 250px; transform: translate(-50%, -12%)}
#text3 {top: 20.1%; left: 41.7%; font-size: 232px}
#text4 {top: 52%; left: 41.7%; width: 483px; text-align: center; font-size: 89px}
#text5 {top: 63%; left: 41.7%; width: 483px; text-align: center; font-size: 99px}


/* Not Desktop Styles */
#mt-menu {
	display: none
}
@media screen and (max-width: 991px) {
	.top, .left, .bottom, .right {
		/* transition-duration: 0s !important;
		transition-delay: 0s !important; */
		left: 0 !important;
		top: 0 !important;
		display: none
	}
	.top.go, .left.go, .bottom.go, .right.go {
		display: block
	}
	#top-go, #left-go, #right-go, #bottom-go {
		display: none
	}
	#mt-menu {
		display: block;
		z-index: 2;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 90px
	}
	.content {
		margin-top: 90px;
		margin-left: 0;
		margin-bottom: 0;
		margin-right: 0;
		width: 100%;
		height: calc(100% - 90px)
	}
}
.mt-logo {
	position: absolute;
	left: 32px;
	top: 50%;
	transform: translateY(-50%);
	background-repeat: no-repeat;
	background-position: left center
}
#mt-controller.go ~ .mt-logo {
	display: none
}
#mt-controller {
	font-family: europa, sans-serif;
	font-weight: 300;
	/* color: #E8C547; */
	position: absolute;
	z-index: 4;
	right: 0;
	line-height: 90px;
	width: 90px;
	padding-right: 10px;
	text-align: center;
	cursor: pointer
}
#mt-controller.go {
	color: #E8C547 !important
}
.top.go ~ #mt-menu #mt-controller {
	color: #E8C547
}
.left.go ~ #mt-menu #mt-controller {
	color: #FFFFFF
}
.right.go ~ #mt-menu #mt-controller {
	color: #30323D
}
.bottom.go ~ #mt-menu #mt-controller {
	color: #E8C547
}

#mt-menu-panel {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 3
}
#mt-controller.go ~ #mt-menu-panel {
	display: block
}
#mt-menu-panel > div {
	position: relative;
	width: 100%;
	height: 25%;
	font-family: Baskerville, serif
}
#mt-menu-panel > div > span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center
}
#mt-top {
	background-color: #30323D
}
#mt-top img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 30%
}
#mt-left {
	background-color: #3B9BAC;
	color: #FFFFFF
}
#mt-right {
	background-color: #E8C547;
	color: #30323D
}
#mt-bottom {
	background-color: #FFFFFF;
	color: #E8C547
}

/* Tablet Styles */
.tablet-show {
	display: none
}
@media screen and (min-width: 576px) and (max-width: 991px) {
/* @media screen and (min-width: 768px) and (max-width: 991px) { */
	.tablet-show {
		display: block
	}
	.mt-logo {
		height: 48px;
		width: 224px
	}
	.top.go ~ #mt-menu .mt-logo, .bottom.go ~ #mt-menu .mt-logo {
		background-image: url('images/Tablet/logos_icons/logo-files/tablet_logo-gold_horizontal.svg')
	}
	.left.go ~ #mt-menu .mt-logo {
		background-image: url('images/Tablet/logos_icons/logo-files/tablet_logo-white_horizontal.svg')
	}
	.right.go ~ #mt-menu .mt-logo {
		background-image: url('images/Tablet/logos_icons/logo-files/tablet_logo-grey_horizontal.svg')
	}
	#mt-controller {
		font-size: 20px
	}
	#mt-menu-panel > div > span {
		font-size: 36px
	}
	
	.top h1, .left h1, .right h1, .bottom h1{
		font-size:100px!important;
		line-height:120px;
	}
	
	.top h2, .left h2, .right h2{
		font-size:63px;
		line-height:80px;
	}
	
	.left .MidHalf h3{
		margin-top:30px!important;
	}
	
	.right .MidHalf .row.text-center .PointsCol, .right .MidHalf .row.text-center .PointsCol p{
		text-align:left!important;
	}
	
	.right .PointsCol{
		border-bottom:1px solid #000!important;
		padding-bottom:10px!important;
		border-right:none!important;
	}

	.right .PointsCol:last-child{
		border-bottom:none!important;
		padding-bottom:10px!important;
		border-right:none;
	}
	
	.top .QuoteText h3{
		background-image:url('images/Desktop/logos_icons/quotation-marks/desktop-quotemarks-grey.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		font-size:48px;
	}
	
	.left .QuoteText h3{
		background-image:url('images/Desktop/logos_icons/quotation-marks/desktop-quotemarks-blue.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		font-size:48px;
		padding:0 0!important;
	}
	
	.right .QuoteText h3{
		background-image:url('images/Desktop/logos_icons/quotation-marks/desktop-quotemarks-yellow.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		font-size:48px;
		padding:0 0!important;
		margin-top:100px!important;
	}
	.bottom .btn.btn-outline-primary {
	box-sizing: border-box!important;
	border: 1px solid #E8C547!important;
	border-radius: 4px!important;
	color:#30323D!important;
	background:transparent!important;
	font-family: Baskerville;
	width:40%!important;
	}
	
	.top .TopHalf{
	padding:150px 0!important;
	}
	
	.left .TopHalf{
	padding:260px 0!important;
	}
	
	.bottom .TopHalf{
	padding:260px 0!important;
	}
	
	.right .TopHalf{
	padding:260px 0!important;
	}

	.top .container .row.MidHalf, .left .container .row.MidHalf , .bottom .container .row.MidHalf , .right .container .row.MidHalf  {
    margin: 100px 0 20% 0!important;
	}

	.top .container .row.MidHalf.Section2, .left .container .row.MidHalf.Section2 , .bottom .container .row.MidHalf.Section2 , .right .container .row.MidHalf.Section2  {
    margin: 100px 0 20% 0!important;
	}
	
	.AnchorArrow i{
		font-size:40px!important; 
		margin-top:50px; 
	}

}

/* Mobile Styles */
.mobile-show {
	display: none
}
@media screen and (max-width: 575px) {
/* @media screen and (max-width: 767px) { */
	.mobile-show {
		display: block
	}
	.mt-logo {
		height: 46px;
		width: 46px
	}
	.top.go ~ #mt-menu .mt-logo, .bottom.go ~ #mt-menu .mt-logo {
		background-image: url('images/Mobile/logos_icons/logo-files/mobile_icon-gold.svg')
	}
	.left.go ~ #mt-menu .mt-logo {
		background-image: url('images/Mobile/logos_icons/logo-files/mobile_icon-white.svg')
	}
	.right.go ~ #mt-menu .mt-logo {
		background-image: url('images/Mobile/logos_icons/logo-files/mobile_icon-grey.svg')
	}
	#mt-controller {
		font-size: 14px
	}
	#mt-menu-panel > div > span {
		font-size: 24px
	}
	.top h1, .left h1, .right h1, .bottom h1{
		font-size:48px!important;
		line-height:50px!important;
	}
	
	.top h2, .left h2, .right h2, .bottom h2{
		font-size:30px!important;
		line-height:40px!important;
	}
	
	.top h3, .left h3, .right h3{
		font-size:30px!important;
		line-height:40px!important;
		padding-top:40px;
	}
	
	.right span.ColHead, .bottom span.ColHead{
		font-size: 30px;
		line-height:60px!important;
	}
	
		.right .MidHalf .row.text-center .PointsCol, .right .MidHalf .row.text-center .PointsCol p{
		text-align:left!important;
	}
	
	.right .PointsCol{
		border-bottom:1px solid #000!important;
		padding-bottom:10px!important;
		border-right:none!important;
	}

	.right .PointsCol:last-child{
		border-bottom:none!important;
		padding-bottom:10px!important;
		border-right:none;
	}
	
		.top .TopHalf{
	padding:0px 0!important;
	}
	
	.left .TopHalf{
	padding:150px 0!important;
	}
	
	.bottom .TopHalf{
	padding:200px 0!important;
	}
	
	.right .TopHalf{
	padding:100px 0!important;
	}

	.top .container .row.MidHalf, .left .container .row.MidHalf , .bottom .container .row.MidHalf , .right .container .row.MidHalf  {
    margin: 100px 0 20% 0!important;
	}

	.top .container .row.MidHalf.Section2, .left .container .row.MidHalf.Section2 , .bottom .container .row.MidHalf.Section2 , .right .container .row.MidHalf.Section2  {
    margin: 100px 0 20% 0!important;
	}
	.top .QuoteText h3{
		background-image:none;
		background-repeat: no-repeat;
		background-size: 100% 80%;
		font-size:30px;
	}
	
	.left .QuoteText h3{
		background-image:none;
		background-repeat: no-repeat;
		background-size: 300px 400px;
		font-size:30px;
		padding:0 0!important;
	}
	
	.right .QuoteText h3{
		background-image:none;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		font-size:30px;
		padding:0 0!important;
		margin-top:100px!important;
	}
	
	.AnchorArrow i{
		font-size:20px!important;
		margin-top:50px;
	}
}